header, main, footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'FuturaBook';
  src: url("assets/fonts/FuturaBookC.woff") format("woff");
  src: url("assets/fonts/FuturaBookC.woff2") format("woff2");
}

body {
  background-color: #252525;
}

header section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 707px;
}

button {
  cursor: pointer;
}

.nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 83px;
  background-color: #131313;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
}

@media screen and (max-width: 575px) {
  .nav_header {
    height: 10px;
    padding: 23px 18px 24px 18px;
  }
}

.nav_header button {
  width: 161px;
  height: 37px;
  color: white;
  background-color: #E3B873;
  border: 0;
  text-transform: uppercase;
  margin-right: 100px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

.nav_header--logo {
  margin-left: 76px;
}

@media screen and (max-width: 575px) {
  .nav_header--logo {
    margin-left: 0px;
  }
}

.nav_header--logo span {
  color: #E3B873;
}

.nav_header--items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav_header--items a {
  display: block;
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}

.nav_header--items a:hover {
  color: #E3B873;
}

.nav_header--tel {
  color: #E3B873;
}

@media screen and (max-width: 575px) {
  .nav_header--tel {
    color: #FFF;
    text-decoration: none;
  }
}

.left_instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #131313;
}

.left_instagram p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
}

.left_instagram a {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 14px;
  color: #E3B873;
  text-decoration: none;
}

.left_instagram a::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 90px;
  width: 51px;
  height: 2px;
  background-color: #E3B873;
}

.header_bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("./assets/img/head.png") no-repeat;
  background-size: cover;
}

.header--text {
  width: 515px;
  height: 305px;
  margin-left: 60px;
  margin-top: 195px;
  color: #fff;
}

@media screen and (max-width: 575px) {
  .header--text {
    width: 340px;
  }
}

.header--text h1 {
  font-size: 40px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 575px) {
  .header--text h1 {
    font-size: 23px;
  }
}

.header--text h1 span {
  color: #E3B873;
}

.header--text p {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 22px;
}

@media screen and (max-width: 575px) {
  .header--text p {
    font-size: 18px;
  }
}

.header_btns {
  height: 51px;
  font-size: 13px;
}

.header_btns button {
  color: white;
  height: 100%;
  width: 207px;
  font-size: 13px;
  font-family: "FuturaBook", Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
}

@media screen and (max-width: 575px) {
  .header_btns button {
    width: 120%;
    margin-top: 30px;
  }
}

.header_btns button:first-child {
  background-color: #E3B873;
  border: 0;
}

.header_btns button:last-child {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid white;
  margin-left: 20px;
}

@media screen and (max-width: 575px) {
  .header_btns button:last-child {
    margin-left: 0px;
  }
}

.scroll_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 247px;
  height: 97px;
  background-color: #131313;
  position: absolute;
  z-index: 3;
  left: 0px;
  bottom: -40px;
}

.scroll_down span {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
}

.scroll_down img {
  margin-left: 15px;
}

.scroll_down img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll_down:hover {
  cursor: pointer;
}

.night_town_bg {
  background-color: #131313;
  position: relative;
  height: 1080px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .night_town_bg {
    height: 690px;
  }
}

.night_town {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.night_town--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #131313;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  padding-top: 40px;
}

.night_town--nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-left: 40%;
}

.night_town--nav a {
  display: block;
  text-decoration: none;
  margin-right: 60px;
  color: rgba(255, 255, 255, 0.3);
}

.night_town--nav a:hover {
  color: #E3B873;
  text-decoration: underline;
}

.completed_proj {
  height: 483px;
  width: 442px;
  margin-left: 100px;
  top: 500px;
}

.completed_proj h3 {
  position: relative;
  margin: 0 0 34px;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-align: left;
  max-width: 200px;
  color: #E3B873;
  text-transform: uppercase;
}

.completed_proj h3::after {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -55px;
  width: 92px;
  height: 2px;
  background-color: #E3B873;
}

@media screen and (max-width: 575px) {
  .completed_proj h3::after {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .completed_proj h3 {
    text-align: center;
    font-size: 22px;
    margin: 30px auto;
  }
}

.completed_proj p {
  color: white;
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 575px) {
  .completed_proj p {
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .completed_proj {
    margin: 0 auto;
    height: 200px;
  }
}

.text_four_blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.text_four_blocks h6 {
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 18px;
  color: #E3B873;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text_four_blocks p {
  color: #fff;
  font-size: 15px;
  font-family: "FuturaBook", Arial, sans-serif;
}

@media screen and (max-width: 575px) {
  .text_four_blocks {
    display: none;
  }
}

.night_town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.night_town--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.night_town--slider img {
  margin-left: 37px;
}

@media screen and (max-width: 575px) {
  .night_town--slider img {
    margin-right: 37px;
    width: 100%;
    margin-top: 20px;
  }
}

.night_town--slider button {
  position: absolute;
  color: #fff;
  background: url("assets/img/Play.png") no-repeat;
  background-position-x: -44px;
  background-position-y: -41px;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50px;
  right: 0px;
  top: 208px;
}

.night_town--slider button:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 20px;
  top: 160px;
}

@media screen and (max-width: 575px) {
  .night_town--slider button {
    right: 20px;
    top: 160px;
  }
}

.white_bg {
  background-color: #fff;
  height: 2575px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .white_bg iframe {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .white_bg {
    height: 3500px;
  }
}

.online_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -350px;
  position: relative;
  margin: 0 auto;
  height: 955px;
  max-width: 817px;
}

.online_control img {
  margin-top: 60px;
  margin-bottom: 30px;
}

@media screen and (max-width: 575px) {
  .online_control iframe {
    width: 480px;
  }
}

@media screen and (max-width: 575px) {
  .online_control {
    position: static;
    background-color: #131313;
    height: 1075px;
  }
}

.online_control--logo h3 {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
}

.online_control--logo img {
  display: block;
  margin: 15px auto;
}

.online_control--text p {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 680px;
}

@media screen and (max-width: 575px) {
  .online_control--text p {
    font-size: 18px;
    max-width: 480px;
    color: #FFF;
  }
}

.online_control--submit {
  margin-top: 90px;
  max-width: 770px;
}

@media screen and (max-width: 575px) {
  .online_control--submit {
    font-size: 18px;
    max-width: 480px;
    margin-top: 0px;
    background-color: #131313;
  }
}

.online_control--submit button {
  width: 200px;
  height: 51px;
  color: white;
  background-color: #E3B873;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .online_control--submit button {
    position: relative;
    width: 100%;
    margin-top: 50px;
    bottom: -25px;
  }
}

.online_control--submit form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.online_control--submit form div {
  margin: 10px auto;
}

.online_control--submit label {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

@media screen and (max-width: 575px) {
  .online_control--submit label {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
  }
}

.online_control--submit input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-top: 5px;
  color: black;
}

@media screen and (max-width: 575px) {
  .online_control--submit input {
    width: 100%;
    color: #FFF;
    background-color: #131313;
  }
}

.types_repair {
  position: relative;
  margin: 0 auto;
  height: 706px;
  max-width: 100%;
  top: -250px;
}

@media screen and (max-width: 575px) {
  .types_repair {
    top: 100px;
  }
}

.types_repair--logo,
.design_project--logo {
  margin: 20px auto;
  width: 257px;
  height: 67px;
}

.types_repair--logo h3,
.design_project--logo h3 {
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.types_repair--logo img,
.design_project--logo img {
  display: block;
  margin: 15px auto;
}

.types_repair--blocks,
.design_project--blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 608px;
  max-width: 1236px;
  margin: 10px auto;
}

@media screen and (max-width: 575px) {
  .types_repair--blocks,
  .design_project--blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.types_repair--blocks h4,
.design_project--blocks h4 {
  margin: 15px 20px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  top: 15px;
  left: 5px;
  position: relative;
}

.types_repair--text,
.design_project--text {
  position: relative;
  width: 330px;
  top: -156px;
  left: 32px;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
  background: #FFFFFF;
  font-family: "FuturaBook", Arial, sans-serif;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types_repair--text input,
.design_project--text input {
  position: relative;
  top: 25px;
  width: 228px;
  height: 54px;
  color: #fff;
  background: #E3B873;
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.types_repair--text input:hover,
.design_project--text input:hover {
  cursor: pointer;
}

.carousel_measurer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 100px;
  margin-bottom: 120px;
  height: 725.44px;
  position: relative;
  top: -130px;
}

.carousel--list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: requestCounter;
  position: relative;
  width: 100%;
  margin-right: 3%;
  background-image: url(../assets/img/bg-black-white-building.png), url(../assets/img/circle-for-list.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 0 55px;
}

.carousel--item {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  font-family: "FuturaBook", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #363636;
}

.carousel--item::before {
  counter-increment: requestCounter;
  content: "0" counter(requestCounter);
  position: absolute;
  top: 0;
  left: -60px;
  width: 42px;
  height: 42px;
  margin-right: 17px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background-color: #E3B873;
  border-radius: 50%;
}

.carousel--item span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.carousel--item:first-child {
  top: 120px;
  left: 415px;
}

.carousel--item:nth-child(2) {
  top: 228px;
  left: 490px;
}

.carousel--item:nth-child(3) {
  top: 390px;
  left: 515px;
}

.carousel--item:nth-child(4) {
  top: 552px;
  left: 445px;
}

.measurer_form_save {
  margin-top: 100px;
  max-width: 506px;
}

.measurer_form {
  height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 49px;
  margin-bottom: 40px;
  color: #fff;
  background-color: #131313;
}

.measurer_form h5 {
  font-family: "FuturaBook", Arial, sans-serif;
  margin: 15px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.measurer_form form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  font-family: "FuturaBook", Arial, sans-serif;
  text-align: left;
}

.measurer_form form button {
  border: none;
  cursor: pointer;
  width: 213px;
  height: 51px;
  color: #fff;
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-left: 45%;
  text-transform: uppercase;
  border-radius: 3px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.measurer_form div {
  margin-bottom: 60px;
}

.measurer_form div:nth-child(3) {
  margin-bottom: 15px;
}

.measurer_form div:nth-child(4) {
  margin-bottom: 35px;
}

.measurer_form div label {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 15px;
}

.measurer_form div input {
  border: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  width: 408px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: #131313;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input-checkbox {
  opacity: 0;
}

.input-checkbox:checked + .label-checkbox::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 8px;
  background-image: url(./assets/img/check.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.label-checkbox {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.label-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #E3B873;
  border-radius: 1px;
}

.save_materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 72px;
}

.save_materials img {
  height: 100px;
}

.save_materials span {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.realize_fantasies {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .realize_fantasies div {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) and (max-width: 575px) {
  .realize_fantasies div img {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .realize_fantasies div button {
    position: relative;
    color: #fff;
    background: url("assets/img/Play.png") no-repeat;
    background-position-x: -45px;
    background-position-y: -43px;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50px;
    right: -440px;
    top: -170px;
  }
  .realize_fantasies div button:last-child {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: -75px;
    top: -171px;
  }
}

@media screen and (max-width: 575px) {
  .realize_fantasies {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(to top, #131313 0%, #131313 200px, #FFF 200px, #fff 100%);
  }
}

.realize_fantasies--bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 865px;
  background-image: url(./assets/img/bg-realize_fantasies.jpg), linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
  padding: 0px 100px;
}

@media screen and (max-width: 575px) {
  .realize_fantasies--bg {
    height: 150px;
    background-image: none;
    padding: 0px;
  }
}

.realize_fantasies--text {
  padding: 120px 0px;
  height: 630px;
  width: 25%;
}

.realize_fantasies--text h2 {
  margin-bottom: 40px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

@media screen and (max-width: 575px) {
  .realize_fantasies--text h2 {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .realize_fantasies--text {
    padding: 0px;
    height: 530px;
  }
}

.realize_fantasies--list {
  font-family: "FuturaBook", Arial, sans-serif;
  list-style: none;
  font-size: 20px;
  line-height: 34px;
  color: #FFF;
  margin: 0;
  padding: 0;
  display: block;
}

.realize_fantasies--item {
  margin-bottom: 15px;
  cursor: pointer;
}

.realize_fantasies--item:hover {
  color: #E3B873;
  text-decoration: underline;
}

.realize_fantasies--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}

.realize_fantasies--images img {
  margin: 25px 25px;
}

.realize_fantasies-img--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.realize_fantasies-img--left img {
  position: relative;
  top: -95px;
}

.realize_fantasies-img--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.realize_fantasies-img--right img {
  position: relative;
  top: -188px;
}

.design_project {
  margin: 0 auto;
  padding-top: 100px;
  height: 900px;
  max-width: 100%;
  background: linear-gradient(to top, #131313 0%, #131313 430px, #fff 430px, #fff 100%);
}

.design_project p {
  max-width: 760px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto 40px;
  color: #363636;
  font-family: "FuturaBook", Arial, sans-serif;
}

@media screen and (max-width: 575px) {
  .design_project p {
    max-width: 500px;
    font-size: 16px;
    color: #FFF;
  }
}

@media screen and (max-width: 575px) {
  .design_project {
    background: #131313;
    padding-top: 20px;
    height: 2300px;
  }
}

@media screen and (max-width: 575px) {
  .design_project--logo h3 {
    color: #FFF;
  }
}

.steps_to_goal {
  max-width: 1239px;
  height: 690px;
  padding: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #131313;
}

.steps_to_goal--text {
  text-align: left;
  list-style: none;
  max-width: 338px;
}

.steps_to_goal--text h4 {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.steps_to_goal--text p {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.steps_to_goal--text h2 {
  margin-bottom: 100px;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  text-transform: uppercase;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
}

.steps_to_goal--text h3 {
  font-size: 15px;
  line-height: 23px;
  color: #E3B873;
  text-transform: uppercase;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
}

.toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.toggle {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 0px;
  margin-right: 18px;
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}

.steps_to_goal-right {
  width: 765px;
  padding-top: 130px;
}

.steps_to_goal-right--list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 170px;
          column-gap: 170px;
  row-gap: 70px;
  margin-bottom: 50px;
  counter-reset: stepCounter;
}

.steps_to_goal--item {
  position: relative;
}

.steps_to_goal--item::before {
  counter-increment: stepCounter;
  content: "0" counter(stepCounter);
  position: absolute;
  top: -32px;
  left: 0;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  line-height: 21px;
  color: #fff;
  border-bottom: 1px solid #E3B873;
}

.steps_to_goal--item a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: #FFFFFF;
}

.steps_to_goal--images {
  position: relative;
}

.steps_to_goal--img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
}

.our_team {
  padding-top: 100px;
  background: linear-gradient(to bottom, #131313 0%, #131313 550px, #fff 400px, #fff 100%);
  text-align: center;
}

@media screen and (max-width: 575px) {
  .our_team {
    background: #131313;
  }
}

.our_team--logo {
  margin: 0px auto;
  max-width: 476px;
}

.our_team--logo h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our_team--logo p {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 100px;
}

.our_team-blocks {
  max-width: 1064px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our_team-blocks h4 {
  font-size: 18px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  margin-bottom: 10px;
}

.our_team-blocks p {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
  text-align: center;
  color: #959595;
}

.our_team-blocks button {
  width: 100%;
  height: 44px;
  color: #FFF;
  background-color: #E3B873;
  border: none;
  border-radius: 3px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .our_team-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our_team--text {
  margin: 0px auto;
  background-color: #FFF;
  position: relative;
  height: 137px;
  width: 85%;
  top: -90px;
  padding-top: 10px;
}

@media screen and (max-width: 575px) {
  .our_team--text {
    width: 45%;
  }
}

.our_team--about {
  width: 558px;
  margin: 0 auto;
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.clients {
  height: 774px;
  padding-top: 90px;
  background: #FFF;
  text-align: center;
}

.clients--title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  text-transform: uppercase;
  color: #181818;
}

.clients--icon {
  margin-bottom: 25px;
}

.clients--desc {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  color: #363636;
}

.clients--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1236px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.client {
  position: relative;
  width: 325px;
  height: 345px;
  padding: 25px 30px 85px 20px;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  text-overflow: ellipsis;
}

.client p {
  margin: 0;
}

.client--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.client--name {
  font-size: 18px;
  line-height: 23px;
}

.client--img {
  margin-right: 25px;
  border-radius: 50%;
}

.client--review {
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  color: #959595;
}

.client--parameters {
  position: absolute;
  bottom: -27px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.client--square,
.client--day {
  padding: 0 20px 0 55px;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 17px;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

.client--square {
  background-image: url(./assets/img/area.svg);
  border-right: 1px solid #fff;
}

.client--day {
  background-image: url(./assets/img/calendar.svg);
}

.questions_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 40px;
  position: relative;
  background-color: #fff;
  background-image: url(./assets/img/bg-questions-map.png), -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72)));
  background-image: url(./assets/img/bg-questions-map.png), linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 255px, 0 255px;
  background-blend-mode: multiply;
}

@media screen and (max-width: 575px) {
  .questions_map {
    background: #131313;
  }
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 883px;
  height: 445.32px;
  background: #131313;
}

@media screen and (max-width: 575px) {
  .questions {
    width: 100%;
    padding: 10px;
  }
}

.questions--title {
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px auto;
  height: 139px;
  width: 520px;
}

.form--checkbox {
  margin: 0px auto;
  margin-bottom: 40px;
}

.form--checkbox label {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 15px;
}

.form--btn {
  height: 51px;
  width: 200px;
  color: #FFF;
  text-transform: uppercase;
  font-family: "FuturaBook", Arial, sans-serif;
  background-color: #E3B873;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
}

@media screen and (max-width: 575px) {
  .form--btn {
    width: 100%;
  }
}

.form--layout {
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  margin-bottom: 50px;
}

.form--layout label {
  display: block;
  font-size: 15px;
}

.form--layout input {
  width: 230px;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-family: "FuturaBook", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
}

@media screen and (max-width: 575px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.location {
  position: relative;
  width: 100%;
  margin: 0 auto 42px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 465px;
  margin-bottom: 0;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.location iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map--address,
.map--phone {
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #E3B873;
}

.map--address {
  margin-bottom: 24px;
  width: 650px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .map--address a {
    text-decoration: none;
  }
}

@media screen and (max-width: 575px) {
  .map--address {
    width: 100%;
  }
}

.map--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin: auto;
  width: 70px;
  margin-bottom: 40px;
}

.map--links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 28px;
  height: 28px;
  background-color: #E3B873;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  font-family: "Yeseva One", cursive, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.map--links a svg {
  width: 19px;
  height: 19px;
}

footer .nav_header {
  height: 133px;
}

@media screen and (max-width: 575px) {
  .mobile_hidden {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .desktop_hidden {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */